{% macro listing(listing = []) %}
  {% for item in listing %}
    {% set heading = item.heading %}
    {% set href = item.href %}
    {% set content = item.content %}

    <div class="proto-listing nhsuk-u-reading-width {{ classes }}">
      <ul class="nhsuk-list">
        <li class="nhsuk-list-item">
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">
            <a href="{{ href }}">
              {{ heading | safe }}
            </a>
          </h2>

          <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">
            {{ content | safe }}
          </p>

          <hr class="nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">
        </li>
      </ul>
    </div>
  {% endfor %}
{% endmacro %}
