<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    {% include "./search.html" %}
  </div>
</div>
<div class="nhsuk-grid-row">
  {# <div class="nhsuk-grid-column-full">
    <h3>Quick filters:
      {{ tag({ text: "Admin" })}}
      {{ tag({ text: "Learner" })}}
      {{ tag({ text: "Password not set" })}}
    </h3>
  </div> #}
  <div class="nhsuk-grid-column-one-third">
    <div class="search-filters">
      {# <div class="search-filters__quick-filters"> 
        <h2 class="nhsuk-heading-s">Quick filters</h2>
        {{ tag({ text: "Admin" })}}
        {{ tag({ text: "Learner" })}}
      </div>

      <hr class="nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4"> #}

      <div class="search-filters__filter-lists">
        <h2 class="nhsuk-heading-s">Filters</h2>

        {% set userGroup %}
          <form>
            {{ checkboxes({
              "idPrefix": "example",
              "name": "example",
              "hint": {
                "text": "Select all options that are relevant to you."
              },
              "items": [
                {
                  "value": "Admins",
                  "text": "Admins"
                },
                {
                  "value": "Learners",
                  "text": "Learners"
                }
              ]
            }) }}
          </form>
        {% endset %}
        {{ details({
          "text": "User group",
          "HTML": userGroup
        }) }}

        {% set status %}
          <form>
            {{ checkboxes({
              "idPrefix": "example",
              "name": "example",
              "hint": {
                "text": "Select all options that are relevant to you."
              },
              "items": [
                {
                  "value": "Account locked",
                  "text": "Account locked"
                },
                {
                  "value": "Password set",
                  "text": "Password set"
                },
                {
                  "value": "account active",
                  "text": "account active"
                },
                {
                  "value": "account inactive",
                  "text": "account inactive"
                },
                {
                  "value": "Password not set",
                  "text": "Text message"
                },
                {
                  "value": "Password not set",
                  "text": "Text message"
                }
              ]
            }) }}
          </form>
        {% endset %}
        {{ details({
          "text": "Status",
          "HTML": status
        }) }}

        {% set jobGroup %}
          <form>
            {{ checkboxes({
              "idPrefix": "example",
              "name": "example",
              "fieldset": {
                "legend": {
                  "text": "How would you like to be contacted?",
                  "classes": "nhsuk-fieldset__legend--l",
                  isPageHeading: true
                }
              },
              "hint": {
                "text": "Select all options that are relevant to you."
              },
              "items": [
                {
                  "value": "email",
                  "text": "Email"
                },
                {
                  "value": "phone",
                  "text": "Phone"
                },
                {
                  "value": "text message",
                  "text": "Text message"
                }
              ]
            }) }}
          </form>
        {% endset %}
        {{ details({
          "text": "Job group",
          "HTML": jobGroup
        }) }}

        {% set department %}
          <form>
            {{ checkboxes({
              "idPrefix": "example",
              "name": "example",
              "fieldset": {
                "legend": {
                  "text": "How would you like to be contacted?",
                  "classes": "nhsuk-fieldset__legend--l",
                  isPageHeading: false
                }
              },
              "hint": {
                "text": "Select all options that are relevant to you."
              },
              "items": [
                {
                  "value": "email",
                  "text": "Email"
                },
                {
                  "value": "phone",
                  "text": "Phone"
                },
                {
                  "value": "text message",
                  "text": "Text message"
                }
              ]
            }) }}
          </form>
        {% endset %}
        {{ details({
          "text": "Department",
          "HTML": department
        }) }}
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-u-reading-width">
      <h2 class="nhsuk-heading-s">14,928 results</h2>
      {# <ul class="nhsuk-list">

        <li class="nhsuk-list-item">
          <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
            <a href="/prototypes/admin-frameworks/select-a-framework/framework-dashboard">
              IV Therapy Passport
            </a>
          </h2>
          <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium consequatur quaerat asperiores harum nostrum cum commodi alias modi labore similique cupiditate dolor repellendus recusandae ut sint, ab iste voluptatibus facere?
          </p>
          <hr class="nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">
        </li>

        <li class="nhsuk-list-item">
          <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
            <a href="#">
              Step 1
            </a>
          </h2>
          <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">
            National Proficiency Framework for Registered Nurses in Adult Critical Care
          </p>
          <hr class="nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">
        </li>

        <li class="nhsuk-list-item">
          <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
            <a href="#">
              Step 2
            </a>
          </h2>
          <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">
            National Proficiency Framework for Registered Nurses in Adult Critical Care
          </p>
          <hr class="nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">
        </li>

      </ul> #}

      {# {% include "./users.html" %} #}
    </div>
  </div>
</div>


