{% from "data/users.njk" import users %}
{% from "components/listing.njk" import listing %}
{% from 'pagination/macro.njk' import pagination %}

{% set listOfUsers = [] %}
{% set userFormatted = {} %}

{% for user in users %}

  {% set heading=user["Name"] + ' (' + user["Email"] + ')' %}
  {% set href='#user' + loop.index %}
  {% set content %}
    {% if user["User type"] != "Learner" %}
      {{ tag({
        text: "Admin: " + user["User type"],
        classes: "nhsuk-tag--green"
      }) }}
    {% endif %}
    {% if not user["active-user"] %}
      {{ tag({
        text: "user inactive",
        classes: "nhsuk-tag--grey"
      }) }}
    {% endif %}
    {% if not user["password set"] %}
      {{ tag({
        text: "Password not set",
        classes: "nhsuk-tag--grey"
      }) }}
    {% endif %}
    {% if not user["account claimed"] %}
      {{ tag({
        text: "Account unclaimed",
        classes: "nhsuk-tag--grey"
      }) }}
    {% endif %}
  {% endset %}

  {% set userFormatted={
    heading: heading,
    href: href,
    content: content
  } %}

  {% set listOfUsers = (listOfUsers.push(userFormatted), listOfUsers) %}
{% endfor %}

{{ listing(listOfUsers) }}

{{ pagination({
  "nextUrl": "#next",
  "nextPage": "Page 1 of 55"
}) }}
