.nhsuk-expander.proto-summary-expander {

  .proto-details {
    &__summary-text {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 100%;

      &:before {
        top: 3px;
     }
    }

    &__summary-text-content {
      flex: 1;
      display: inline-block;
      width: 100%;
    }

    &__summary-text-tag {
      // flex: 0;
      text-decoration: none !important;
      &:active,
      &:hover {
        text-decoration: none !important;
      }
    }

    &__summary-text-more-info {
      padding: 4px 4px 4px 38px;
    }
  }
}
