<!-- Use this page as the Index-ogOg-og for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
  - change the header and footer
  - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Welcome - DLS prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/admin-home",
    text: "Home"
  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <h1>Select a framework</h1>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        {% from "components/listing.njk" import listing %}

        {% set selectAFramework = [{
            "heading": "IV Therapy Passport",
            "href": "/admin-home/select-a-framework/framework-dashboard",
            "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium consequatur quaerat asperiores harum nostrum cum commodi alias modi labore similique cupiditate dolor repellendus recusandae ut sint, ab iste voluptatibus facere?"
          },{
            "heading": "Step 1",
            "href": "#",
            "content": "National Proficiency Framework for Registered Nurses in Adult Critical Care"
          },{
            "heading": "Step 2",
            "href": "#",
            "content": "National Proficiency Framework for Registered Nurses in Adult Critical Care"
          }]
        %}

        {{ listing(selectAFramework) }}

      </div>
    </div>
  </div>
{% endblock %}
