{% extends 'layouts/layout-registration.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Register a single person
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/register-delegates/single/welcome",
    "text": "Go back",
    "classes": "nhsuk-width-container nhsuk-u-margin-top-4"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/register-delegates/single/summary" method="post" class="form">

        {% set passwordHtml %}
          {{ input({
            id: "password",
            name: "password",
            classes: "nhsuk-u-width-two-thirds",
            label: {
              text: "Set a password",
              classes: "nhsuk-label--m"
            },
            hint: {
              text: "The password should have a minimum of 8 characters with at least 1 uppercase and 1 lowercase letter, 1 number, and 1 symbol."
            },
            value: data['password']
          }) }}
        {% endset -%}

        {{ radios({
          "idPrefix": "set-password",
          "name": "set-password",
          "fieldset": {
            "legend": {
              "text": "Would you like to set their password?",
              "classes": "nhsuk-fieldset__legend--l",
              "isPageHeading": true
            }
          },
          "hint": {
            "text": "Optional. If you set a password, you need to make a note of it and share with them. If you don't set a password, they will be asked to set one in the welcome email they receive."
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes",
              "conditional": {
                "html": passwordHtml
              },
              "checked": checked('set-password', 'yes')
            },
            {
              "value": "no",
              "text": "No",
              "checked": checked('set-password', 'no')
            }
          ]
        }) }}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
