{% extends 'layouts/layout.html' %}
{% from 'components/task-list/macro.njk' import taskList %}

{% block header %}
  {% include "paper-transfer/includes/dls-header-iv-therapy.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="content-group">
        {{ backLink({
          href: "/paper-transfer/learner/",
          text: "Go back to assessment option"
        }) }}

        <h1>Transfer a paper assessment</h1>

        <p>Before you start:</p>
        <ul>
          <li>ensure you meet the transfer approval criteria</li>
          <li>have your paper assessment to hand</li>
        </ul>

        {{ details({
          text: "Paper assement transfer approval criteria",
          HTML: "
            <ul>
              <li>You will need to have completed all core proficiecnes in your paper assessment.</li>
              <li>Your're IV Therap Passport will need to be completed to the current captial Nurse standard.</li>
              <li>This will need approval from your supervisors, assessor and educator manager.</li>
            </ul>
          "
        }) }}

        <p>This should take approximately 10 and 15 minutes to complete.</p>
      </div>

      <div class="content-group">
        {% set paperAssessmentGuidance %}
        Including:
        <ul>
          <li>the name of the healthcare professional who signed of your paper assessment</li>
          <li>their registration number (PRN)</li>
          <li>the date it was signed off</li>
          <li>the organisation that signed it off</li>
        </ul>
        {% endset %}

        {# Paper Assessment information -------------------------------------- #}
        {% if data['paperAssessmentInformationCompleted'] %}
        {{ taskList({
          idPrefix: "paperAssessmentInformation",
          classes: "nhsuk-u-margin-bottom-0",
          items: [
          {
            title: {
              text: "Provide information from paper assessment"
            },
            href: "/paper-transfer/learner/paper-assessment-information",
            status: {
              tag: {
                text: "Complete",
                classes: "nhsuk-tag--green"
              }
            }
          }
          ]
        }) }}
        {% else %}
        {{ taskList({
          idPrefix: "before-you-start",
          classes: "nhsuk-u-margin-bottom-0",
          items: [
          {
            title: {
              text: "Provide information from paper assessment"
            },
            href: "/paper-transfer/learner/paper-assessment-information",
            status: {
              tag: {
                text: "Incomplete",
                classes: "nhsuk-tag--blue"
              }
            }
          }
          ]
        }) }}
        {% endif %}

        {# Record completed proficiencies from paper assessment -------------------------------------- #}
        {% if data['proficienciesCompleted'] %}
        {{ taskList({
          idPrefix: "proficiencies",

          classes: "nhsuk-u-margin-bottom-0", items: [
          {
            title: {
              text: "Record completed proficiencies from paper assessment"
            },
            href: "/additional-proficiencies-answer",
            status: {
              tag: {
                text: "Complete",
                classes: "nhsuk-tag--green"
              }
            }
          }
          ]
        }) }}
        {% else %}
        {{ taskList({
          idPrefix: "proficiencies",
          classes: "nhsuk-u-margin-bottom-0",
          items: [
          {
            title: {
              text: "Record completed proficiencies from paper assessment"
            },
            href: "/additional-proficiencies-answer",
            status: {
              tag: {
                text: "Incomplete",
                classes: "nhsuk-tag--blue"
              }
            }
          }
          ]
        }) }}
        {% endif %}

        {# Upload a copy of your signed off paper assessment -------------------------------------- #}
        {% if data['UploadCompleted'] %}
        {{ taskList({
          idPrefix: "before-you-start",
          classes: "nhsuk-u-margin-bottom-0",
          items: [
          {
            title: {
              text: "Upload a copy of your signed off paper assessment"
            },
            href: "/paper-transfer/learner/upload",
            status: {
              tag: {
                text: "Complete",
                classes: "nhsuk-tag--green"
              }
            }
          }
          ]
        }) }}
        {% else %}
        {{ taskList({
          idPrefix: "before-you-start",
          classes: "nhsuk-u-margin-bottom-0",
          items: [
          {
            title: {
              text: "Upload a copy of your signed off paper assessment"
            },
            href: "/paper-transfer/learner/upload",
            status: {
              tag: {
                text: "Incomplete",
                classes: "nhsuk-tag--blue"
              }
            }
          }
          ]
        }) }}
        {% endif %}

        {# Review declarationt -------------------------------------- #}
        {% if data['declarationtCompleted'] %}
        {{ taskList({
          idPrefix: "before-you-start",
          classes: "nhsuk-u-margin-bottom-0",
          items: [
          {
            title: {
              text: "Review and agree decleration"
            },
            href: "/paper-transfer/learner/sign-decleration",
            status: {
              tag: {
                text: "Complete",
                classes: "nhsuk-tag--green"
              }
            }
          }
          ]
        }) }}
        {% elif data['paperAssessmentInformationCompleted'] and data['proficienciesCompleted'] and data['UploadCompleted'] %}
        {{ taskList({
          idPrefix: "before-you-start",
          classes: "nhsuk-u-margin-bottom-0",
          items: [
          {
            title: {
              text: "Review and agree decleration"
            },
            href: "/paper-transfer/learner/sign-decleration",
            status: {
              tag: {
                text: "Incomplete",
                classes: "nhsuk-tag--blue"
              }
            }
          }
          ]
        }) }}
        {% else %}
        {{ taskList({
          idPrefix: "before-you-start",
          classes: "nhsuk-u-margin-bottom-0",
          items: [
          {
            title: {
              text: "Review and agree decleration"
            },
            status: {
              text: "Cannot start yet",
              classes: "nhsuk-task-list__status--cannot-start-yet"
            }
          }
          ]
        }) }}
        {% endif %}

        {# Review summary and submit -------------------------------------- #}
        {% if data['paperAssessmentInformationCompleted'] and data['proficienciesCompleted'] and data['UploadCompleted'] and data['declarationtCompleted'] %}
        {{ taskList({
          idPrefix: "before-you-start",
          classes: "nhsuk-u-margin-bottom-0",
          items: [
          {
            title: {
              text: "Review information is correct and submit"
            },
            href: "/paper-transfer/learner/review-and-submit",
            status: {
              tag: {
                text: "Incomplete",
                classes: "nhsuk-tag--blue"
              }
            }
          }
          ]
        }) }}
        {% else %}
        {{ taskList({
          idPrefix: "before-you-start",
          classes: "nhsuk-u-margin-bottom-0",
          items: [
          {
            title: {
              text: "Review information is correct and submit"
            },
            status: {
              text: "Cannot start yet",
              classes: "nhsuk-task-list__status--cannot-start-yet"
            }
          }
          ]
        }) }}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block outerContent %}
{% endblock %}



