{% extends 'layouts/layout.html' %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <h1>Step 1 Proficiencies - National Proficiency Framework for Registered Nurses in Adult Critical Care</h1>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p><a href="#"><img src="https://www.dls.nhs.uk/cms/CMSContent/ccsteps/images/cc3nlogo.png" alt="CC3N logo"></a></p>
      <p>The Step 1 proficiencies have been designed to provide you with the core generic skills required to safely and professionally care for the critically ill patient in a general critical care unit under the supervision and support of your Mentor, Lead Assessor and/or Practice Educator.</p>
      <h2>New to Step 1?</h2>
      <p>If you are new to the Step 1 proficiencies, you should begin by reading through the introduction and important information.</p>
      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="#">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Introduction and further information</span>
        </a>
      </div>
      <h2>Access the proficiencies</h2>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-u-font-size-24">
            Activity Supervisors
          </h2>
          <div class="nhsuk-card__description">
            <ul>
              <li>Allan King, Educator/Manager (##NHSE Demo Centre##)</li>
            </ul>
            <a class="nhsuk-button nhsuk-button--secondary" href="#">Manage supervisors</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a class="nhsuk-button" href="/paper-transfer/learner/have-you-completed-a-paper-assessment">Setup assessment</a>
</div>
{% endblock %}

{% block outerContent %}
{% endblock %}
