{% extends 'layout.html' %}

{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/css/lh-css-copy-all.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

{% set pageName = "Home" %}
{% set containerClasses = "app-width-container--full" %}
{% set mainClasses = "app-main-wrapper--no-padding nhsuk-bg-white" %}

{% block content %}
  <div class="">
    <div class="landing-page__landing-page-banner">
      <div class="landing-page__banner-panel display--hide display-desktop--show">
        <h1>A platform for learning and sharing resources</h1>
        <div class="text">
          Sign up, explore and learn
        </div>
      </div>
    </div>
    <div class="landing-page__banner-panel-mobile display-desktop--hide">
      <h1>A platform for learning and sharing resources</h1>
      <div class="text">
        Sign up, explore and learn
      </div>
    </div>

    <div class="landing-page__access-container">
      <div class="nhsuk-width-container app-width-container">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <h2>Access your Learning Hub account</h2>
          </div>
          <div class="nhsuk-grid-column-one-half">
            <h3>Use your Learning Hub or elfh credentials</h3>
            <p>
              <a class="nhsuk-button nhsuk-button--beta-login" href="https://learninghub.nhs.uk/Login">Log in</a>
            </p>
            <p class="nhsuk-u-margin-bottom-2">
              <a href="https://learninghub.nhs.uk/forgotten-password">Forgotten username or password</a>
            </p>
            <p>
              <a href="https://learninghub.nhs.uk/Registration/create-an-account">Create new account</a>
            </p>
          </div>
          <div class="nhsuk-grid-column-one-half landing-page__open-athens--mobile">
            <h3>Use your OpenAthens credentials</h3>
            <p>
              <a class="nhsuk-button nhsuk-button--secondary" href="https://learninghub.nhs.uk/OpenAthens/Login?returnUrl=https%3A%2F%2Flearninghub.nhs.uk%2FAccount%2FAuthorisationRequired%3ForiginalUrl%3D%252F&amp;invalidScope=false">Log in with OpenAthens</a>
            </p>
            <p>
              Registered NHS England and NHS Scotland OpenAthens users can login using their account.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="cmsPage">
      <div style="background:#F0F4F5;color:#212B32">
        <div class="nhsuk-width-container app-width-container">
          <div class="nhsuk-grid-row ">
            <div class="nhsuk-grid-column-full">
              <h2>COVID Vaccination programme<!--@pageModel.PageSectionDetail.SectionTitleElement-->
              </h2>
            </div>
          </div>

          <div class="nhsuk-grid-row  ">
            <div class="nhsuk-grid-column-full">
              <div class="information-page__container  ">
                <div class="nhsuk-grid-column-one-half information-page__container-column">
                  <div class="information-page__asset-container">
                    <img alt="" src="/images/Healthcare_Assistant_4.jpg" class="information-page__img">
                  </div>
                </div>
                <div class="nhsuk-grid-column-one-half information-page__container-column">
                  <div class="information-page__text-container " style="background-color:#F0F4F5">
                    <div>
                      <p>Moving in time for the autumn campaign,&nbsp;the COVID Vaccination programme is the latest elfh programme to be relocated to the Learning Hub.</p>

                      <p>As a reminder, the Learning Hub&nbsp;is built on the latest technology and offers a better learning experience. In the future, the Learning Hub will become a single point of access to all elfh and Digital Learning Standards (DLS) content and services.</p>

                      <p>A redirect from the elfh Hub will send you to the COVID Vaccination programme in the Learning Hub, where learning activity and certificates can be found in &lsquo;My learning&rsquo;.&nbsp;</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="background:#FFFFFF;color:#212B32">
        <div class="nhsuk-width-container app-width-container">

          <div class="nhsuk-grid-row  information-page__row--padding-bottom">
            <div class="nhsuk-grid-column-full">
              <div class="information-page__container information-page__container--reverse-child-order ">
                <div class="nhsuk-grid-column-one-half information-page__container-column">
                  <div class="information-page__asset-container">
                    <img alt="" src="/images/Learning-Hub-UR.jpg" class="information-page__img">
                  </div>
                </div>
                <div class="nhsuk-grid-column-one-half information-page__container-column">
                  <div class="information-page__text-container information-page__text-container--no-padding-left information-page__text-container--no-x-padding--mobile">
                    <div>
                      <h2>Sign up and give your feedback</h2>

                      <p>As the Technology Enhanced Learning (TEL) User Research Team in NHS England, we aim to understand how our users are interacting with our learning&nbsp;platforms to continually improve our services and&nbsp;make the product useful.&nbsp;<br>
                        <br>
                        Our goal is to ensure that all our platforms&nbsp;are accessible and useful.&nbsp;&nbsp;<br>
                        <br>
                        <a href="https://forms.office.com/pages/responsepage.aspx?id=slTDN7CF9UeyIge0jXdO4zH3GWcjIvxHlhoKoqcy0ulUQVUzSkFSVjNJUFpONERJVFJSTzFPOTRTTS4u">Join our user research group to provide your views and experiences.</a>&nbsp;</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="background:#F0F4F5;color:#212B32">
          <div class="nhsuk-width-container app-width-container">

            <div class="nhsuk-grid-row information-page__row--padding-top information-page__row--padding-bottom">
              <div class="nhsuk-grid-column-full">
                <div class="information-page__container  ">
                  <div class="nhsuk-grid-column-one-half information-page__container-column">
                    <div class="information-page__asset-container">
                      <img alt="" src="/images/Learning Hub_learner_1280%C3%97720.jpg" class="information-page__img">
                    </div>
                  </div>
                  <div class="nhsuk-grid-column-one-half information-page__container-column">
                    <div class="information-page__text-container information-page__text-container--no-padding-right information-page__text-container--no-x-padding--mobile">
                      <div>
                        <h2>About the Learning Hub</h2>

                        <p>The Learning Hub provides easy access to a wide range of educational resources, elearning, specialist health and care content and more which have been developed or shared by professional organisations such as the Royal Colleges, universities and other health and care organisations.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="background:#FFFFFF;color:#212B32">
          <div class="nhsuk-width-container app-width-container">

            <div class="nhsuk-grid-row information-page__row--padding-top information-page__row--padding-bottom">
              <div class="nhsuk-grid-column-full">
                <div class="information-page__container information-page__container--reverse-child-order ">
                  <div class="nhsuk-grid-column-one-half information-page__container-column">
                    <div class="information-page__asset-container">
                      <img alt="" src="/images/Learning Hub_learners_1280%C3%97720.jpg" class="information-page__img">
                    </div>
                  </div>
                  <div class="nhsuk-grid-column-one-half information-page__container-column">
                    <div class="information-page__text-container information-page__text-container--no-padding-left information-page__text-container--no-x-padding--mobile">
                      <div>
                        <h2>Who is the Learning Hub for?</h2>

                        <p>The Learning Hub supports organisations and individuals across the NHS health and social care workforce, including local government and universities.</p>

                        <p>Organisations registered on the Learning Hub can contribute and share a wide variety of self-managed content, knowledge and learning resources and individuals can find lots of interesting resources to support learning and professional development locally, regionally and nationally.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="background:#FFFFFF;color:#212B32">
          <div class="nhsuk-width-container app-width-container">

            <div class="nhsuk-grid-row information-page__row--padding-top information-page__row--padding-bottom">
              <div class="nhsuk-grid-column-full">
                <div class="information-page__container  information-page__container--border">
                  <div class="nhsuk-grid-column-one-half information-page__container-column">
                    <div class="information-page__asset-container">
                      <img alt="" src="/images/Learning-Hub_learner_2_1280%C3%97520-copy.jpg" class="information-page__img">
                    </div>
                  </div>
                  <div class="nhsuk-grid-column-one-half information-page__container-column">
                    <div class="information-page__text-container " style="background-color:#FFFFFF">
                      <div>
                        <h3>Keep up to date</h3>

                        <p>For more information about the Learning Hub visit the <a href="https://telblog.hee.nhs.uk/" target="_blank">Technology Enhanced Learning (TEL) blog</a><br>
                          <br>
                          Follow us on Twitter <a href="https://twitter.com/NHSE_TEL" target="_blank">@NHSE_TEL</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>


      {% endblock %}
