{% extends 'layouts/layout.html' %}

{% block header %}
{% include "includes/dls-header-supervisor.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        {{ backLink({
          href: "/#",
          text: "Go back"
        }) }}
        <!-- paper-transfer/admin/supervisor-dashboard -->

        <div class="content-group">
          <h1>Paper to digital transfer</h1>

          <p class="nhsuk-u-font-weight-bold">You should:</p>
          <ul>
            <li>check paper assessment proficiencies have been achieved</li>
            <li>review the information to ensure it is correct</li>
          </ul>
          <p class="nhsuk-u-font-weight-bold">[Learner name]:</p>
          <ul>
            <li>must have completed the paper assessment to the current standard</li>
            <li>may still need to complete additional proficiencies required for their role.</li>
          </ul>
          <p>Completing this does not finalise their assessment; they will need to be signed off separately once any additional proficiencies have been completed.</p>
        </div>

        <div class="content-group">
          {{ button({
            text: "Continue",
            href: "/paper-transfer/admin/review-and-submit"
          }) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block outerContent %}
{% endblock %}
