.app-live-role-results {
  margin-top: 12px;
  border: 2px solid #d8dde0;
  background: #ffffff;
  padding: 16px 16px 8px;
  border-radius: $global-radius;
}

.app-live-role-results__empty {
  margin-bottom: 16px;
}
