.proto-in-page-nav {
  $this: &;

  border-top: 1px solid $color_nhsuk-grey-4;
  border-bottom: 1px solid $color_nhsuk-grey-4;
  margin-bottom: nhsuk-spacing(6);

  &__list {
    @include no-list-style;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    // width: 100%;

    #{$this}__item:hover {
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: nhsuk-spacing(2);
        background-color: $color_nhsuk-blue;
      }
    }

    &:hover #{$this}__item--active:after {
      display: none;
    }

    &:hover #{$this}__item--active:hover:after {
      display: block;
    }
  }

  &__item {
    margin: 0;
    padding: nhsuk-spacing(3);
    position: relative;
  }

  &__item--active {
    // border-bottom: 10px solid $color_nhsuk-blue;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: nhsuk-spacing(2);
      background-color: $color_nhsuk-blue;
    }
  }

  &__link {
    // margin-right: 0;

    #{$this}__item--active & {
      font-weight: 600;
    }
  }
}
