.proto-in-page-nav {
  $this: &;

  border-bottom: 1px solid $color_nhsuk-grey-3;
  margin-bottom: nhsuk-spacing(6);

  &__list {
    @include no-list-style;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    @include mq($until: tablet) {
      display: block;
    }

    #{$this}__item:hover {
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 6px;
        background-color: $color_nhsuk-blue;
      }
    }

    &:hover #{$this}__item--active:after {
      display: none;
    }

    &:hover #{$this}__item--active:hover:after {
      display: block;
    }
  }

  &__item {
    margin: 0;
    padding: nhsuk-spacing(3);
    position: relative;
  }

  &__item--active {
    position: relative;
    font-weight: 600;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 6px;
      background-color: $color_nhsuk-blue;
    }
  }

  &__item--more-options {
    margin-left: auto;

    #{$this}__link {
      display: inline-block;
      margin-left: 32px;
      position: relative;


      &:before {
        content: '︙';
        display: block;
        height: 36px;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -32px;
        font-weight: 900;
        font-size: 24px;
      }
    }
  }
}
