{% extends 'layouts/layout.html' %}

{% block beforeContent %}
  {{ hero({
    "heading": "Welcome",
    "text": "Helping you manage learning delivery for the benefit of the people in your organisation."
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ul class="nhsuk-grid-row nhsuk-card-group">
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
            {{ card({
              "href": "/",
              "clickable": "true",
              "heading": "My learning",
              "headingClasses": "nhsuk-heading-s",
              "description": "Access to your current, available and completed learning courses."
            }) }}
          </li>
          {# <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
            {{ card({
              "href": "/",
              "clickable": "true",
              "heading": "Manage your centre",
              "headingClasses": "nhsuk-heading-s",
              "description": "Manage and distribute learning to your organisation and access reports."
            }) }}
          </li> #}
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
            {{ card({
              "href": "/prototypes/admin-frameworks/select-a-framework",
              "clickable": "true",
              "heading": "Manage a framework",
              "headingClasses": "nhsuk-heading-s",
              "description": "Manage your framework, learners and access reports."
            }) }}
          </li>
          {# <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
            {{ card({
              "href": "/",
              "clickable": "true",
              "heading": "Supervise learners",
              "headingClasses": "nhsuk-heading-s",
              "description": "Assign and review staff assessments and arrange supervision sessions."
            }) }}
          </li> #}
          {# <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
            {{ card({
              "href": "/",
              "clickable": "true",
              "heading": "Super admin",
              "headingClasses": "nhsuk-heading-s",
              "description": "Manage content and settings across the whole system."
            }) }} #}
          </li>
        </ul>

      </div>
    </div>
  </div>

  {% from "components/featured-media.njk" import featuredMedia %}

  {% set fmProducts %}
    <p>Discover more information about the tools our platform has to offer</p>
    <p><a>Discover products on DLS</a></p>
  {% endset %}
  {{ featuredMedia(
    classes="featured-media--bg-white",
    heading="Products on Digital learning solutions platform",
    content=fmProducts,
    image="/images/fm/healthcare-image-1.jpg"
  ) }}

  {% set fmLearningContent %}
    <p>Information about quality assured Digital Skills and learning wider content</p>
    <p><a>Information on learning content</a></p>
  {% endset %}
  {{ featuredMedia(
    classes="featured-media--reversed",
    heading="Learning content",
    content=fmLearningContent,
    image="/images/fm/healthcare-image-2.jpg",
    reversed=true
  ) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}



