{% extends 'layouts/layout.html' %}

{% block header %}
  {% include "includes/dls-header-iv-therapy.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        {{ backLink({
          href: "/paper-transfer/learner/additional-proficiencies",
          text: "Go back"
        }) }}

        <div class="content-group">
          <h1>Record completed proficiencies from paper assessment</h1>

          <p>Additional proficiencies refer to specific skills or competencies that are not part of the standard requirements for this assessment but may be added based on your role, specialisation or the needs of your workplace.</p>
          <p>You may know these as optional proficiencies, chapters or domains, for example.</p>

          {{ warningCallout({
            heading: "Record additional proficiencies",
            HTML: "<p>Please ensure that you only include additional proficiencies you achieved in your paper assessment. This will help ensure that your assessment is accurately recorded and recognised.</p>"
          }) }}

        <h2>Select proficiencies</h2>

        <form action=/paper-transfer/learner/ method="post" class="form">
          <div class="content-group">
            <h3>Methods of preparation</h3>
            {{ checkboxes({
              idPrefix: "preparation",
              name: "preparation",
              items: [
                {
                  name: "ivTherapyAdditionalProficiencies",
                  value: "Methods of preparation: 14a. Reconstitute IV medication from powder",
                  text: "14a. Reconstitute IV medication from powder"
                },
                {
                  name: "ivTherapyAdditionalProficiencies",
                  value: "Methods of preparation: 14b. Draw up liquid IV medication, dilute if required in a syringe",
                  text: "14b. Draw up liquid IV medication, dilute if required in a syringe"
                },
                {
                  name: "ivTherapyAdditionalProficiencies",
                  value: "Methods of preparation: 14c. Add IV medication to a bag for infusion",
                  text: "14c. Add IV medication to a bag for infusion"
                },
                {
                  name: "ivTherapyAdditionalProficiencies",
                  value: "Methods of preparation: 14d. Use pre-prepared IV medication",
                  text: "14d. Use pre-prepared IV medication"
                }
              ]
            }) }}
          </div>

          <div class="content-group">
            <h3>Peripheral administration</h3>
            {{ checkboxes({
              idPrefix: "peripheral",
              name: "peripheral",
              items: [
                {
                  value: "Peripheral administration: 14a. Reconstitute IV medication from powder",
                  name: "ivTherapyAdditionalProficiencies",
                  text: "14a. Reconstitute IV medication from powder"
                },
                {
                  value: "Peripheral administration: 14b. Draw up liquid IV medication, dilute if required in a syringe",
                  name: "ivTherapyAdditionalProficiencies",
                  text: "14b. Draw up liquid IV medication, dilute if required in a syringe"
                },
                {
                  value: "Peripheral administration: 14c. Add IV medication to a bag for infusion",
                  name: "ivTherapyAdditionalProficiencies",
                  text: "14c. Add IV medication to a bag for infusion"
                },
                {
                  value: "Peripheral administration: 14d. Use pre-prepared IV medication",
                  name: "ivTherapyAdditionalProficiencies",
                  text: "14d. Use pre-prepared IV medication"
                }
              ]
            }) }}
          </div>

          <div class="content-group">
            <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-6">
                <input type="checkbox" id="pvad-peripheral-checkbox" name="ivTherapyAdditionalProficiencies" value="Peripheral venous access devices (PVAD): peripheral cannula" class="nhsuk-checkboxes__input" aria-details="pvad-peripheral-description">
                <label for="pvad-peripheral-checkbox" class="proto-checkboxes__label nhsuk-checkboxes__label nhsuk-label"><h3 class="nhsuk-u-margin-bottom-2">Peripheral venous access devices (PVAD): peripheral cannula</h3></label>
                <div id="pvad-peripheral-description" class="nhsuk-checkboxes__description">
                  {{ details({
                    text: "What’s included in this competencies group",
                    HTML: "
                      <ul>
                        <li>Correctly identify device and provide rationale on suitability for the patient</li>
                        <li>Identify gauge size and discuss site selection and recommended dwell time</li>
                        <li>Identify and discuss potential risks and complications of the device and action to take</li>
                        <li>Assess device site and dressing by inspection</li>
                        <li>Apply visual infusion phlebitis (VIP) criteria and decision making around suitability of the device for use</li>
                        <li>Confirm patency of PVAD by flushing with a push pause technique ending with positive pressure, giving rationale</li>
                        <li>Discuss causes of, and action, should device occlusion be detected</li>
                        <li>Maintain accurate documentation, including VIP score, catheter site care and specific interventions</li>
                      </ul>
                    "
                  }) }}
                </div>
            </div>

            <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-6">
                <input type="checkbox" id="pvad-midline-checkbox" name="ivTherapyAdditionalProficiencies" value="Peripheral venous access devices (PVAD): midline catheter" class="nhsuk-checkboxes__input" aria-details="pvad-midline-description">
                <label for="pvad-midline-checkbox" class="proto-checkboxes__label nhsuk-checkboxes__label nhsuk-label"><h3 class="nhsuk-u-margin-bottom-2">Peripheral venous access devices (PVAD): midline catheter</h3></label>
                <div id="pvad-midline-description" class="nhsuk-checkboxes__description">
                  {{ details({
                    text: "What’s included in this competencies group",
                    HTML: "
                      <ul>
                        <li>Correctly identify device and provide rationale on suitability for the patient</li>
                        <li>Discuss tip location, and recommended dwell time</li>
                        <li>Demonstrate measurement of catheter length and discuss implication of change in length</li>
                        <li>Identify and discuss potential risks and complications of the device and action to take</li>
                        <li>Assess device site and dressing by inspection</li>
                        <li>Apply visual infusion phlebitis (VIP) criteria and decision making around suitability of the device for use</li>
                        <li>Confirm patency of PVAD by flushing with a push pause technique ending with positive pressure, giving rationale</li>
                        <li>Discuss causes of, and action, should device occlusion be detected</li>
                        <li>Maintain accurate documentation, including VIP score, catheter site care and specific interventions</li>
                      </ul>
                    "
                  }) }}
                </div>
            </div>

            <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-6">
                <input type="checkbox" id="cvc-short-term-checkbox" name="ivTherapyAdditionalProficiencies" value="Central Venous Access Devices (CVAD): central venous catheter (CVC) short term non skin tunnelled" class="nhsuk-checkboxes__input" aria-details="cvc-short-term-description">
                <label for="cvc-short-term-checkbox" class="proto-checkboxes__label nhsuk-checkboxes__label nhsuk-label"><h3 class="nhsuk-u-margin-bottom-2">Central Venous Access Devices (CVAD): central venous catheter (CVC) short term non skin tunnelled</h3></label>
                <div id="cvc-short-term-description" class="nhsuk-checkboxes__description">
                  {{ details({
                    text: "What’s included in this competencies group",
                    HTML: "
                      <ul>
                        <li>Provide rationale for CVC placement and suitability for patient</li>
                        <li>Identify and discuss potential risks and complications of the device and action to take</li>
                        <li>Assess external length of the catheter and explain action if evidence of migration exists, referring to organisational guidance</li>
                        <li>Assess CVC site, lumens and dressing by inspection, discussing with rationale the suitability of the catheter for use</li>
                        <li>Confirm patency of CVC prior to use; discuss when and why aspirating prior to flushing is advised. Flush using a push pause technique ending with positive pressure, providing rationale</li>
                        <li>Explain causes and procedure should the catheter have sluggish flow or be occluded, referring to organisational guidance</li>
                        <li>Maintain accurate documentation and records of accessing the catheter, needle free connector change and drug administration</li>
                      </ul>
                    "
                  }) }}
                </div>
            </div>

            <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-6">
                <input type="checkbox" id="cvc-long-term-checkbox" name="ivTherapyAdditionalProficiencies" value="Central Venous Access Devices (CVAD): central venous catheter (CVC) long term skin tunnelled" class="nhsuk-checkboxes__input" aria-details="cvc-long-term-description">
                <label for="cvc-long-term-checkbox" class="proto-checkboxes__label nhsuk-checkboxes__label nhsuk-label"><h3 class="nhsuk-u-margin-bottom-2">Central Venous Access Devices (CVAD): central venous catheter (CVC) long term skin tunnelled</h3></label>
                <div id="cvc-long-term-description" class="nhsuk-checkboxes__description">
                  {{ details({
                    text: "What’s included in this competencies group",
                    HTML: "
                      <ul>
                        <li>Provide rationale for CVC placement and suitability for patient</li>
                        <li>Identify and discuss potential risks and complications of the device and action to take</li>
                        <li>Assess external length of the catheter and explain action if evidence of migration exists, referring to organisational guidance</li>
                        <li>Assess CVC site, lumens and dressing by inspection, discussing with rationale the suitability of the catheter for use</li>
                        <li>Confirm patency of CVC prior to use; discuss when and why aspirating prior to flushing is advised. Flush using a push pause technique ending with positive pressure, providing rationale</li>
                        <li>Explain causes and procedure should the catheter have sluggish flow or be occluded, referring to organisational guidance</li>
                        <li>Maintain accurate documentation and records of accessing the catheter, needle free connector change and drug administration</li>
                      </ul>
                    "
                  }) }}
                </div>
            </div>

            <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-6">
                <input type="checkbox" id="cvc-picc-checkbox" name="ivTherapyAdditionalProficiencies" value="Central Venous Access Devices (CVAD): central venous catheter (CVC) percutaneously inserted central catheter (PICC)" class="nhsuk-checkboxes__input" aria-details="cvc-picc-description">
                <label for="cvc-picc-checkbox" class="proto-checkboxes__label nhsuk-checkboxes__label nhsuk-label"><h3 class="nhsuk-u-margin-bottom-2">Central Venous Access Devices (CVAD): central venous catheter (CVC) percutaneously inserted central catheter (PICC)</h3></label>
                <div id="cvc-picc-description" class="nhsuk-checkboxes__description">
                  {{ details({
                    text: "What’s included in this competencies group",
                    HTML: "
                      <ul>
                        <li>Provide rationale for CVC placement and suitability for patient</li>
                        <li>Identify and discuss potential risks and complications of the device and action to take</li>
                        <li>Assess external length of the catheter and explain action if evidence of migration exists, referring to organisational guidance</li>
                        <li>Assess CVC site, lumens and dressing by inspection, discussing with rationale the suitability of the catheter for use</li>
                        <li>Confirm patency of CVC prior to use; discuss when and why aspirating prior to flushing is advised. Flush using a push pause technique ending with positive pressure, providing rationale</li>
                        <li>Explain causes and procedure should the catheter have sluggish flow or be occluded, referring to organisational guidance</li>
                        <li>Maintain accurate documentation and records of accessing the catheter, needle free connector change and drug administration</li>
                      </ul>
                    "
                  }) }}
                </div>
            </div>

            <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-6">
                <input type="checkbox" id="implanted-port-checkbox" name="ivTherapyAdditionalProficiencies" value="Central venous access device (CVAD): implanted central venous catheter (port)" class="nhsuk-checkboxes__input" aria-details="implanted-port-description">
                <label for="implanted-port-checkbox" class="proto-checkboxes__label nhsuk-checkboxes__label nhsuk-label"><h3 class="nhsuk-u-margin-bottom-2">Central venous access device (CVAD): implanted central venous catheter (port)</h3></label>
                <div id="implanted-port-description" class="nhsuk-checkboxes__description">
                  {{ details({
                    text: "What’s included in this competencies group",
                    HTML: "
                      <ul>
                        <li>Provide rationale for port placement and suitability for the patient</li>
                        <li>Identify and discuss potential risks and complications of the device and action to take</li>
                        <li>Assess port site and access needle; outlining indicators of risk or concern during inspection and assessment</li>
                        <li>Confirm patency of the port and needle position by good blood return on aspiration</li>
                        <li>Demonstrate the correct ‘push-pause’ technique when flushing the port and ending with positive pressure</li>
                        <li>Maintain accurate documentation and records of accessing port</li>
                      </ul>
                    "
                  }) }}
                </div>
            </div>

            <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-6">
                <input type="checkbox" id="uvc-checkbox" name="ivTherapyAdditionalProficiencies" value="Central venous access device (CVAD): umbilical venous catheter (UVC)" class="nhsuk-checkboxes__input" aria-details="uvc-description">
                <label for="uvc-checkbox" class="proto-checkboxes__label nhsuk-checkboxes__label nhsuk-label"><h3 class="nhsuk-u-margin-bottom-2">Central venous access device (CVAD): umbilical venous catheter (UVC)</h3></label>
                <div id="uvc-description" class="nhsuk-checkboxes__description">
                  {{ details({
                    text: "What’s included in this competencies group",
                    HTML: "
                      <ul>
                        <li>Provide rationale for UVC placement and suitability for patient</li>
                        <li>Identify and discuss potential risks and complications of the device and action to take</li>
                        <li>Assess external length of the catheter and explain action if evidence of migration exists, referring to organisational guidance</li>
                        <li>Assess UVC site, lumens and ensure line is secure, discussing with rationale the suitability of the catheter for use</li>
                        <li>Confirm patency of UVC prior to use. Flush using the correct concentration of flush solution and volume. Flush using a push pause technique ending with positive pressure, providing rationale</li>
                        <li>Explain causes and procedure should the catheter have sluggish flow or is occluded, referring to organisational guidance</li>
                        <li>Maintain accurate documentation and records of the accessing line and drug administration</li>
                      </ul>
                    "
                  }) }}
                </div>
            </div>

          </div>

          <div class="content-group">
            {{ button({
              text: "Save and continue",
              name: "proficienciesCompleted",
              value: "completed"
            }) }}
          </div>
        </form>

      </div>
    </div>
  </div>

{% endblock %}

{% block outerContent %}
{% endblock %}



