{% extends 'layouts/layout.html' %}

{% block header %}
  {% include "includes/dls-header-iv-therapy.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        {{ backLink({
          href: "/paper-transfer/learner/",
          text: "Go back"
        }) }}

        <div class="content-group">
          <h1>Assessment options</h1>

           <p>You can start a new assessment or transfer your paper assessment.</p>
            <ul>
              <li>If you are new to the IV Therapy Passport you will need to start a new assessment.</li>
              <li>If you have already completed a paper assessment for the IV Therapy Passport, you may be eligible for immediate approval for a digital assessment.</li>
            </ul>
        </div>


        <div class="content-group">
          {{ radios({
            idPrefix: "example",
            name: "example",
            fieldset: {
              legend: {
                text: "Select an option",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            },
            items: [
              {
                value: "no",
                text: "Start a new assessment"
              },
              {
                value: "yes",
                text: "Transfer a paper assessment"
              }
            ]
          }) }}
        </div>
        <div class="content-group">
          {{ button({
            text: "Save and continue",
            href: "/paper-transfer/learner/"
          }) }}
        </div>

      </div>
    </div>
  </div>

{% endblock %}

{% block outerContent %}
{% endblock %}



