{% set ivTherapyProficiencies = [{
    proficiencyGroup: {
      title: "Prerequisites to supervised clinical practice",
      numberOfProficiencies: "4",
      proficienciesConfirmed: "4",
      proficiencies: [
        {
          proficiencyTilte: "Met organisational requisites to administer non intravenous medication",
          assessment: {
            selfAssessmentStatus: "Yes (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "Complete equipment training and assessment including volumetric and syringe infusion pump training",
          assessment: {
            selfAssessmentStatus: "Yes (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "Complete infection prevention and control, and aseptic technique training and assessment",
          assessment: {
            selfAssessmentStatus: "Yes (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "Read and understand organisational policy and guidance on administration of intravenous medication",
          assessment: {
            selfAssessmentStatus: "Yes (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        }
      ]
    }
  },
  {
    proficiencyGroup: {
      title: "Record of learning and knowledge assessment",
      numberOfProficiencies: "2",
      proficienciesConfirmed: "2",
      proficiencies: [
        {
          proficiencyTilte: "Step 1: Complete IV Therapy Passport e-learning on e-learning for Healthcare (e-LfH)",
          assessment: {
            selfAssessmentStatus: "Yes (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "Step 2: Pass IV Therapy Passport eAssessments on e-learning for Healthcare (e-LfH)",
          assessment: {
            selfAssessmentStatus: "Yes (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        }
      ]
    }
  },
  {
    proficiencyGroup: {
      title: "Patient Care",
      numberOfProficiencies: "3",
      proficienciesConfirmed: "3",
      proficiencies: [
        {
          proficiencyTilte: "1. Greet and positively identify the patient (right patient) against prescription",
          assessment: {
            selfAssessmentStatus: "Achieved (role expectations not specified)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "2. Explain procedure to patient, and family where appropriate, and ensure patient is in a suitable and comfortable position",
          assessment: {
            selfAssessmentStatus: "Achieved (role expectations not specified)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "3. Ensure informed consent is obtained from the patient or someone with parental responsibility where this is appropriate",
          assessment: {
            selfAssessmentStatus: "Achieved (role expectations not specified)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        }
      ]
    }
  },
  {
    proficiencyGroup: {
      title: "Planning",
      numberOfProficiencies: "9",
      proficienciesConfirmed: "9",
      proficiencies: [
        {
          proficiencyTilte: "4. Assess patient's prescription to ensure it is clear, unambiguous, and due at this date and time (right time)",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "5. Assess allergy status as documented, and by patient discussion if appropriate",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "6. Access medicines guidance, reference material and advice",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "7. Demonstrate appropriate knowledge of medicine to be administered",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "8. Identify and assess suitable vascular access device, site or lumen for administration with rationale, considering compatibility with concurrent medicines and fluids (right route)",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "9. Discuss actions to be taken in the event of a prescribing or administration error",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        }
      ]
    }
  },
  {
    proficiencyGroup: {
      title: "Correctly prepare medicine for the patient",
      numberOfProficiencies: "8",
      proficienciesConfirmed: "8",
      proficiencies: [
        {
          proficiencyTilte: "10. Assemble all required equipment",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "11. Check medicine, diluents and flush against prescription (right drug)",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "12. Check drug dose against prescription and calculate this accurately during reconstitution, considering displacement value and resulting concentration as applicable (right dose)",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "13. Follow organisational infection prevention guidance and aseptic technique during preparation",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        }
      ]
    }
  },
  {
    proficiencyGroup: {
      title: "Administration",
      numberOfProficiencies: "8",
      proficienciesConfirmed: "8",
      proficiencies: [
        {
          proficiencyTilte: "19. Follow organisational infection prevention guidance and aseptic technique during administration",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "20. Decontaminate the vascular access device / needle free device on the access device",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "21. Confirm patency of vascular access device using an appropriate technique for the device in use",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "22. Discuss action should catheter occlusion be detected",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        }
      ]
    }
  },
  {
    proficiencyGroup: {
      title: "Peripheral venous access devices (PVAD): midline catheter",
      numberOfProficiencies: "1",
      proficienciesConfirmed: "1",
      proficiencies: [
        {
          proficiencyTilte: "9. Maintain accurate documentation, including VIP score, catheter site care and specific interventions",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        }
      ]
    }
  },
  {
    proficiencyGroup: {
      title: "Central Venous Access Devices (CVAD): central venous catheter (CVC) short term non skin tunnelled",
      numberOfProficiencies: "16",
      proficienciesConfirmed: "16",
      proficiencies: [
        {
          proficiencyTilte: "1. Provide rationale for CVC placement and suitability for patient",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "2. Identify and discuss potential risks and complications of the device and action to take",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "3. Assess external length of the catheter and explain action if evidence of migration exists, referring to organisational guidance",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "4. Assess CVC site, lumens and dressing by inspection, discussing with rationale the suitability of the catheter for use",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "5. Confirm patency of CVC prior to use; discuss when and why aspirating prior to flushing is advised. Flush using a push pause technique ending with positive pressure, providing rationale",
          assessment: {
            selfAssessmentStatus: "Achieved (fully meeting role expectations)",
            confirmationStatus: "Confirmed"
          },
          actions: "Review"
        }
      ]
    }
  },
  {
    proficiencyGroup: {
      title: "Central Venous Access Devices (CVAD): central venous catheter (CVC) long term skin tunnelled",
      numberOfProficiencies: "0",
      proficienciesConfirmed: "0",
      proficiencies: [
        {
          proficiencyTilte: "1. Provide rationale for CVC placement and suitability for patient",
          assessment: {
            selfAssessmentStatus: "Not Achieved",
            confirmationStatus: "Pending"
          },
          actions: "Review"
        },
        {
          proficiencyTilte: "2. Identify and discuss potential risks and complications of the device and action to take",
          assessment: {
            selfAssessmentStatus: "Not Achieved",
            confirmationStatus: "Pending"
          },
          actions: "Review"
        }
      ]
    }
  }]
%}
