<!-- Component imports (macros) -->
{# {% from 'breadcrumb/macro.njk' import breadcrumb %}`
{% from 'details/macro.njk' import details %} #}

<!-- Extends the layout from /views/layout/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      href: "/prototypes/admin-frameworks",
      text: "Home"
    },{
      href: "/prototypes/admin-frameworks/select-a-framework",
      text: "Select a framework"
    },{
      href: "/prototypes/admin-frameworks/select-a-framework/framework-dashboard",
      text: "IV Therapy passport"
    },{
      href: "/prototypes/admin-frameworks/select-a-framework/framework-dashboard/users",
      text: "Users"
    }]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-width-container">
    <div class="proto-heading-block">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <h1>
            <span class="nhsuk-caption-l">
              IV Therapy passport framework
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
            Search and manage users
          </h1>
        </div>
      </div>
    </div>

    <div class="proto-in-page-nav">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <ul class="proto-in-page-nav__list">
            <li class="proto-in-page-nav__item proto-in-page-nav__item--active">
              <a class="proto-in-page-nav__link" href="#">Search users</a>
            </li>
            <li class="proto-in-page-nav__item">
              <a class="proto-in-page-nav__link" href="#">Register users</a>
            </li>
            {# <li class="proto-in-page-nav__item">
              <a class="proto-in-page-nav__link" href="#">Send welcome message</a>
            </li> #}
            <li class="proto-in-page-nav__item">
              <a class="proto-in-page-nav__link" href="#">Bulk opperation</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="proto-content-block">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <p class="nhsuk-lead-text nhsuk-body-l">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repellendus consequuntur odio, dolore nostrum eveniet.</p>
        </div>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            {% include "includes/search.html" %}
          </div>
        </div>

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-third">
            <div class="search-filters">
              <div class="search-filters__filter-lists">
                <h2 class="nhsuk-heading-s">Filters</h2>
                {{ checkboxes({
                  "idPrefix": "",
                  "name": "",
                  "hint": {
                    "text": "Select all options that are relevant to you."
                  },
                  "items": []
                }) }}
                {% set userGroup %}
                  <form>
                    {{ checkboxes({
                      "idPrefix": "example",
                      "name": "example",
                      "items": [
                        {
                          "value": "Admins",
                          "text": "Admins"
                        },
                        {
                          "value": "Learners",
                          "text": "Learners"
                        }
                      ]
                    }) }}
                  </form>
                {% endset %}
                {{ details({
                  "open": true,
                  "text": "User group",
                  "HTML": userGroup
                }) }}

                {% set status %}
                  <form>
                    {{ checkboxes({
                      "idPrefix": "example",
                      "name": "example",
                      "items": [
                        {
                          "value": "Account locked",
                          "text": "Account locked"
                        },
                        {
                          "value": "Password set",
                          "text": "Password set"
                        },
                        {
                          "value": "account active",
                          "text": "account active"
                        },
                        {
                          "value": "account inactive",
                          "text": "account inactive"
                        }
                      ]
                    }) }}
                  </form>
                {% endset %}
                {{ details({
                  "text": "Status",
                  "HTML": status
                }) }}

                {% set jobGroup %}
                  <form>
                    {{ checkboxes({
                      "idPrefix": "example",
                      "name": "example",
                      "items": [
                        {
                          "value": "Admin / clerical",
                          "text": "Admin / clerical"
                        },
                        {
                          "value": "Allied Health Professionals",
                          "text": "Allied Health Professionals"
                        },
                        {
                          "value": "Educational Support",
                          "text": "Educational Support"
                        },
                        {
                          "value": "Nursing / midwifery",
                          "text": "Nursing / midwifery"
                        }
                      ]
                    }) }}
                  </form>
                {% endset %}
                {{ details({
                  "text": "Job group",
                  "HTML": jobGroup
                }) }}

                {% set department %}
                  <form>
                    {{ checkboxes({
                      "idPrefix": "example",
                      "name": "example",
                      "items": [
                        {
                          "value": "ICU",
                          "text": "ICU"
                        },
                        {
                          "value": "Pathology",
                          "text": "Pathology"
                        }
                      ]
                    }) }}
                  </form>
                {% endset %}
                {{ details({
                  "text": "Department or team",
                  "HTML": department
                }) }}
              </div>
            </div>
          </div>

          <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-u-reading-width">
              <h2 class="nhsuk-heading-s">14,928 results</h2>
              {% include "includes/users.html" %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  {% endblock %}

  <!-- For adding a back link -->
  <!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
  {% block outerContent %}
  {% endblock %}
