<!-- Component imports (macros) -->
{# {% from 'breadcrumb/macro.njk' import breadcrumb %}`
{% from 'details/macro.njk' import details %} #}

<!-- Extends the layout from /views/layout/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      href: "/prototypes/admin-frameworks",
      text: "Home"
    },{
      href: "/prototypes/admin-frameworks/select-a-framework",
      text: "Select a framework"
    },{
      href: "/prototypes/admin-frameworks/select-a-framework/framework-dashboard",
      text: "IV Therapy passport"
    },{
      href: "/prototypes/admin-frameworks/select-a-framework/framework-dashboard/users",
      text: "Users"
    }]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <h1>
          <span class="nhsuk-caption-l">
            IV Therapy passport framework
            <span class="nhsuk-u-visually-hidden"> - </span>
          </span>
          Search and manage users
        </h1>


        <div class="proto-in-page-nav">
          <ul class="proto-in-page-nav__list">
            <li class="proto-in-page-nav__item proto-in-page-nav__item--active">
              <a class="proto-in-page-nav__link" href="#">Search users</a>
            </li>
            <li class="proto-in-page-nav__item">
              <a class="proto-in-page-nav__link" href="#">Register users</a>
            </li>
            {# <li class="proto-in-page-nav__item">
              <a class="proto-in-page-nav__link" href="#">Send welcome message</a>
            </li> #}
            <li class="proto-in-page-nav__item">
              <a class="proto-in-page-nav__link" href="#">Bulk opperation</a>
            </li>
          </ul>
        </div>

        <p class="nhsuk-lead-text nhsuk-body-l">Lorem ipsum dolor sit amet4 consectetur adipisicing elit. Rerum repellendus consequuntur odio, dolore nostrum eveniet.</p>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        {% include 'includes/search-with-listing.html' %}
      </div>
    </div>
  </div>

  {% endblock %}

  <!-- For adding a back link -->
  <!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
  {% block outerContent %}
  {% endblock %}
