{% extends 'layouts/layout.html' %}

{% block header %}
  {% include "includes/dls-header-iv-therapy.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  {# <link rel="stylesheet" href="https://www.dls.nhs.uk/v2/css/learningPortal/current.css"> #}

  {# TODO - Add confirmation page after final submission #}

  <h1>IV Therapy Passport</h1>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2>Practice Learning and Assessment</h2>
      <p>This platform hosts Step 3 of the IV Therapy Passport pathway, which focuses on practice learning and assessment.</p>
      <p>Upon completion, you will receive a digital IV Therapy Passport that is transferable between organisations.</p>
      <h3>Prerequisites before starting Step 3: Supervised Clinical Practice:</h3>
      <p>Before beginning Step 3 of the IV Therapy Passport pathway, you must complete the following prerequisites:</p>
      <ul>
        <li>met organisational requisites to administer non-intravenous medication</li>
        <li>complete equipment training and assessment</li>
        <li>complete Infection Prevention and Control and Aseptic Technique Training</li>
        <li>read and understand Organisational policy and guidance on administration of intravenous medication</li>
        <li><strong>Step 1:</strong> Completed all 7 IV Therapy Passport eLearning sessions on the elearning for Healthcare Hub (elfh)</li>
        <li><strong>Step 2:</strong> Passed all 7 corresponding eAssessments on the elfh hub</li>
      </ul>
      <p><img src="https://www.dls.nhs.uk/cms/CMSContent/ivtherapy/4_circles.jpg" alt="Step 1: Access Learning on elearning for healthcare hub (elfh). Step 2: Assess Knowledge via eAssessments on elfh hub. Step 3: Practice learning and assessment. IV Therapy Passport: Practice, Develop, Transfer "></p>
      <h3>Selecting Proficiencies:</h3>
      <ol>
        <li>Core and Optional Proficiencies:
          <ul>
            <li>you must achieve <strong>all</strong> core proficiencies</li>
            <li>additionally, select at <strong>least 1</strong> proficiency in each of the following categories after discussing with your Manager/Educator:
              <ul>
                <li>method of preparation</li>
                <li>method of administration</li>
                <li>vascular access device proficiency</li>
              </ul>
            </li>
            <li>select all proficiencies relevant or required for your role</li>
            <li>optional proficiencies can be added over time if your scope of practice changes</li>
          </ul>
        </li>
        <li>Recording Completion:
          <ul>
            <li>use the designated area in the proficiency list to record:
              <ul>
                <li>completion of prerequisite learning</li>
                <li>completion of elearning and eAssessments</li>
              </ul>
            </li>
          </ul>
        </li>
      </ol>
      <h3>Assessment Process:</h3>
      <ol>
        <li>Recording Assessments:</li>
        <ul>
          <li>there are 4 opportunities to record assessments</li>
          <li>you must achieve proficiency in at least the first and final assessments</li>
          <li>optional assessments are available for practice and your organisation may require their completion</li>
        </ul>
        <li>Assessment Steps:</li>
        <ul>
          <li>select an assessment: first, optional, or final</li>
          <li>perform a self-assessment of your performance against the proficiency, indicating whether you are practising or have achieved it</li>
          <li>submit the proficiencies for which you require confirmation of achievement from your assessor.
            <ul>
              <li>multiple proficiencies can be submitted simultaneously</li>
            </ul>
          </li>
          <li>your assessor will log into the supervision platform to confirm your proficiency</li>
        </ul>
        <li>If Proficiency is not confirmed:</li>
        <ul>
          <li>the assessor will record 'rejected' and provide an action plan</li>
        </ul>
      </ol>
      <h3>Declaration:</h3>
      <ul>
        <li>once you have achieved both the first and final assessments for each selected proficiency, complete a 'self-declaration' of proficiency and use the manage confirmation request function to send this to an educator or manager</li>
        <li>this declaration must be signed off by your educator or manager to finalise your IV Therapy Passport</li>
      </ul>
      <h3>Transfer:</h3>
      <ul>
        <li>present your completed proficiencies when transferring between roles or organisations</li>
        <li>you may select additional optional proficiencies to complete as required by your new role</li>
      </ul>
      <p><a href="#">View help documents</a>.</p>
      <p><a href="#">View acknowledgements</a>.</p>
      <p><img src="https://www.dls.nhs.uk/cms/CMSContent/ivtherapy/Capital-Nurse-Logo.jpg" alt="Capital Nurse Logo"></p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-u-font-size-24">
            Activity Supervisors
          </h2>
          <div class="nhsuk-card__description">
            <ul>
              <li>Allan King, Educator/Manager (##NHSE Demo Centre##)</li>
            </ul>
            <a class="nhsuk-button nhsuk-button--secondary" href="#">Manage supervisors</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="nhsuk-button trigger-loader" href="/paper-transfer/learner/have-you-completed-a-paper-assessment">Setup assessment</a>
</div>

{% endblock %}

{% block outerContent %}
{% endblock %}
