{% extends 'layouts/layout.html' %}

{% block header %}
{% include "includes/dls-header-supervisor.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        {{ backLink({
          href: "/paper-transfer/admin/review-and-submit",
          text: "Go back"
        }) }}

        <div class="content-group">
          <h1>Paper assessment transfer approval</h1>
          <p>This approval acknowledges the transfer of assessment records from the paper-based process to digital and confirms that all requirements have been met as recorded in the learner’s IV Therapy Passport.</p>
        </div>

        <form action="/supervisor-review-outcome" method="post" class="form">
          <div class="content-group">
            {% set ReasonHtml %}
              {{ textarea({
                name: "rejectionFeedback",
                id: "rejectionFeedback",
                label: {
                  text: "Provide feedback"
                },
                hint: {
                  text: "By providing clear, structured, actionable insights, the system enables healthcare professionals to reflect on their performance, identify areas for improvement and take corrective measures"
                }
              }) }}
            {% endset -%}

            {{ radios({
              idPrefix: "supervisorReviewOutcome",
              name: "supervisorReviewOutcome",
              items: [
                {
                  value: "approved",
                  text: "I approve the transfer of the paper assessment to digital"
                },
                {
                  value: "rejected",
                  text: "I reject the transfer of the paper assessment to digital",
                  conditional: {
                    html: ReasonHtml
                  }
                }
              ]
            }) }}
          </div>

          <div class="content-group">
            {{ button({
              text: "Confirm and submit"
            }) }}
          </div>
        </form>

      </div>
    </div>
  </div>

{% endblock %}

{% block outerContent %}
{% endblock %}
