{% extends 'layouts/layout.html' %}

{% block header %}
{% include "includes/dls-header-supervisor.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        {{ backLink({
          href: "/paper-transfer",
          text: "Go back"
        }) }}

        <div class="content-group">
          <h1>Paper assessment transfer sign-off </h1>

          <p>I certify that this individual is deemed safe and proficient to administer IV medication using the methods and vascular access devices recorded in the Record of Achievement. They have also successfully completed the IV Therapy Passport pathway.</p>
          <p>By signing off this IV Therapy Passport, you are confirming that the learner has:</p>
          <ul>
            <li>completed both Step 1 (eLearning) and Step 2 (eAssessments), as documented in the Record of Learning and Knowledge Assessment</li>
            <li>achieved proficiency in at least 1 optional proficiency from each category: Methods of Preparation, Methods of Administration, and Vascular Access Devices</li>
            <li>achieved proficiency in all optional proficiencies required for their role.</li>
            <li>been assessed by competent assessors, authorised by their line manager, to supervise and assess IV medication administration</li>
          </ul>

          <p>This sign-off acknowledges the transfer of assessment records from the paper-based process and confirms that all requirements have been met as recorded in the learner’s IV Therapy Passport.</p>
        </div>

        <form action="/paper-transfer/admin/framework" method="post" class="form">
          <div class="content-group">

            {% from 'radios/macro.njk' import radios %}
            {% from 'input/macro.njk' import input %}

            {% set ReasonHtml %}
              {{ textarea({
                name: "example",
                id: "example",
                label: {
                  text: "Can you provide more detail?"
                },
                hint: {
                  text: "This will help inform the practitioner why they where unsuccessful and act as a reference"
                }
              }) }}
            {% endset -%}

            {{ radios({
              idPrefix: "approval",
              name: "approval",
              items: [
                {
                  value: "approve",
                  text: "I approve the transfer of the paper assessment sign-off"
                },
                {
                  value: "reject",
                  text: "Reject paper assessment sign-off request",
                  conditional: {
                    html: ReasonHtml
                  }
                }
              ]
            }) }}
          </div>

          <div class="content-group">
            {{ button({
              text: "Save and continue",
              name: "declarationtCompleted",
              value: "completed"
            }) }}
          </div>
        </form>

      </div>
    </div>
  </div>

{% endblock %}

{% block outerContent %}
{% endblock %}
