<!-- Component imports (macros) -->
{# {% from 'breadcrumb/macro.njk' import breadcrumb %}`
{% from 'details/macro.njk' import details %} #}

<!-- Extends the layout from /views/layout/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      href: "/prototypes/admin-frameworks",
      text: "Home"
    },{
      href: "/prototypes/admin-frameworks/select-a-framework",
      text: "Select a framework"
    }]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <h1>IV Therapy passport framework dashboard</h1>
        <p class="nhsuk-lead-text nhsuk-body-l">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repellendus consequuntur odio, dolore nostrum eveniet.</p>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ul class="nhsuk-grid-row nhsuk-card-group">
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            {{ card({
              "href": "framework-dashboard/users",
              "clickable": "true",
              "heading": "Users",
              "headingClasses": "nhsuk-heading-xs",
              "description": "Manage user on this framework"
            }) }}
          </li>
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            {{ card({
              "href": "#",
              "clickable": "true",
              "heading": "Reports",
              "headingClasses": "nhsuk-heading-xs",
              "description": "Download self assesment reprots"
            }) }}
          </li>
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            {{ card({
              "href": "#",
              "clickable": "true",
              "heading": "Support",
              "headingClasses": "nhsuk-heading-xs",
              "description": "Access Digital Learning Solutions support"
            }) }}
          </li>
        </ul>

        <hr class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-6">

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">

            {% set frameworkDetails %}
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list details-list-with-button">

                <div class="nhsuk-summary-list__row details-list-with-button__row">
                  <dt class="nhsuk-summary-list__key">
                    Centre ranking
                  </dt>

            <dd class="nhsuk-summary-list__value">
              No activity
            </dd>

                </div>

                <div class="nhsuk-summary-list__row details-list-with-button__row">
                  <dt class="nhsuk-summary-list__key">
                    Centre name
                  </dt>

            <dd class="nhsuk-summary-list__value">
              ##NHSE Demo Centre##
            </dd>

                </div>

                <div class="nhsuk-summary-list__row details-list-with-button__row">
                  <dt class="nhsuk-summary-list__key">
                    Centre number
                  </dt>

            <dd class="nhsuk-summary-list__value">
              374
            </dd>

                </div>

                <div class="nhsuk-summary-list__row details-list-with-button__row">
                  <dt class="nhsuk-summary-list__key">
                    Region
                  </dt>

            <dd class="nhsuk-summary-list__value">
              National
            </dd>

                </div>

                <div class="nhsuk-summary-list__row details-list-with-button__row">
                  <dt class="nhsuk-summary-list__key">
                    Contract type
                  </dt>

            <dd class="nhsuk-summary-list__value">
              Premium
            </dd>

                </div>

                <div class="nhsuk-summary-list__row details-list-with-button__row">
                  <dt class="nhsuk-summary-list__key">
                    Centre manager
                  </dt>

            <dd class="nhsuk-summary-list__value">
              DLS DemoOnlyCentre
            </dd>

                </div>

                <div class="nhsuk-summary-list__row details-list-with-button__row">
                  <dt class="nhsuk-summary-list__key">
                    Email
                  </dt>

            <dd class="nhsuk-summary-list__value">
              support@dls.nhs.uk
            </dd>

                </div>

                <div class="nhsuk-summary-list__row details-list-with-button__row">
                  <dt class="nhsuk-summary-list__key">
                    Contact number
                  </dt>

            <dd class="nhsuk-summary-list__value">
              55555 555555
            </dd>

                </div>

                <div class="nhsuk-summary-list__row details-list-with-button__row">
                  <dt class="nhsuk-summary-list__key">
                    Centre support details
                  </dt>

            <dd class="nhsuk-summary-list__value">
              Need Help? For IT skills contact: 123456 Open 09:00 to 17:00. IV Therapy Passport queries contact: IV.passport@catmail.com
            </dd>

                </div>

                <div class="nhsuk-summary-list__row details-list-with-button__row">
                  <dt class="nhsuk-summary-list__key">
                    Your IP address
                  </dt>

            <dd class="nhsuk-summary-list__value">
              82.47.56.51
            </dd>

                </div>

                <div class="nhsuk-summary-list__row details-list-with-button__row">
                  <dt class="nhsuk-summary-list__key">
                    Pre-approved IPs
                  </dt>

            <dd class="nhsuk-summary-list__value">
              1234
            </dd>

                </div>

              </dl>

              <a class="nhsuk-button" role="button" href="/v2/TrackingSystem/Centre/Configuration">
                Edit centre details
              </a>
            </div>
            {% endset %}
            {{ details({
              "classes": "nhsuk-expander",
              "text": "Framework details",
              "HTML": frameworkDetails
            }) }}

          </div>
        </div>

        {# <div class="nhsuk-u-reading-width">
          <p class="nhsuk-u-margin-bottom-0">Visit the <a href="https://service-manual.nhs.uk">NHS digital service manual</a> for guidance and examples.</p>
        </div> #}

      </div>
    </div>
  </div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}
