<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <span class="nhsuk-caption-s">Last updated: 08 April 2026</span>
        <h1>
          {{ serviceName }}
        </h1>

        <div class="nhsuk-u-reading-width">
          <h2 class="nhsuk-heading-m">Who it's for</h2>
          <p class="nhsuk-body">The prototype is for the purpose of user research and testing. </p>

          {# <h2 class="nhsuk-heading-m">What's included</h2> #}
          {# <p class="nhsuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Fusce at dolor sit amet felis aliquam bibendum quis a libero.</p> #}

           <div class="nhsuk-inset-text">
            We regularly update the prototype to reflect decision we've made based on user research.
          </div>


          {# <h2 class="nhsuk-heading-m">How to use the prototype</h2>
          <p class="nhsuk-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nesciunt reiciendis vero esse eveniet? Culpa, saepe quod itaque fugit voluptates quisquam similique quis optio reiciendis natus nisi, velit, eaque commodi!</p> #}

          {{ actionLink({
            text: "Get started",
            href: "/start",
            classes: "nhsuk-u-margin-top-4"
          }) }}

        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
