{% extends 'layouts/layout.html' %}

{% block header %}
  {% include "paper-transfer/includes/dls-header-iv-therapy.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <h1>Paper assessment submitted for review</h1>

        <div class="content-group">
          <p>The information you have provided has been sent to [supervisor name (email)] for review on DD/MM/YYYY.</p>

          <h2>What happens next</h2>
          <p>You will recive an email confirming your paper assessment information has been sent to your educator or supervisor.</p>
          <p>Once your educator or supervisor has reviewed the information you will reccive a confirmtion emailed detailing the outcome.</p>
        </div>

        <form action="/confirmed" method="post" class="form">
          <div class="content-group">
            {{ button({
              text: "Go back to assessment home page"
            }) }}
          </div>
      </form>

      </div>
    </div>
  </div>

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}



